   
     <!-- @include("header")   -->
    
    <h2> welcome to homepage <%= name %> </h2>
    <form action="#">
          <input type="text" placeholder="put your name">
          <input type="password" placeholder="put your password">
          <button> Submit </button>
      </form>

       <!-- @include("footer")   -->
 